/* GENERAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

/* HEADER */

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 24px;
  align-items: center;
}

.about-me-first a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  background-color: #36b37f;
  border-radius: 5px;
  padding: 12px;
  margin: 20px auto;
  transition: all 3s ease 0s;
}

.scroll-down a {
  margin-top: 24px;
  border: 2px solid dimgray;
  padding: 15px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.card .popup-toggle {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  background-color: #36b37f;
  border-radius: 5px;
  padding: 12px;
  margin: 20px auto;
  transition: all 300ms ease-out 0s;
}

.menu-mobile ul li a {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-decoration: none;
  color: #3a4a42;
  padding: 10px 10px;
}

.card .popup-toggle:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background-color: white;
  color: #36b37f;
  border: solid 1px #36b37f;
}

.card .popup-toggle:active {
  background-color: #008552;
}

.about-me-first a:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  background-color: white;
  color: #36b37f;
  border: solid 1px #36b37f;
}

.about-me-first a:active {
  background-color: #008552;
}

.scroll-down a:hover {
  background-color: lightgray;
}

#header a {
  text-decoration: none;
  color: black;
}

.icon-md {
  width: 20px;
}

#welcome {
  font-size: 20px;
  font-weight: 600;
}

/* HEADLINE SECTION */

section {
  padding: 0 24px;
}

#landing {
  padding: 54px 0;
  background-image: url(./assets/png/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.greeny {
  color: #36b37e;
}

#main-support-text {
  margin-top: 58px;
  font-size: 20px;
  text-align: center;
}

form ul {
  display: flex;
  flex-direction: column;
}

.card ul {
  padding: 0 4px;
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.second-card ul {
  padding: 0 8px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 8px;
  row-gap: 8px;
}

.logo-cloud ul {
  padding: 0;
  margin: 0 auto;
  margin-top: 58px;
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: baseline;
}

.scroll-down {
  margin-top: 24px;
  display: flex;
  width: 100%;
  justify-content: center;
}

/* MY WORK SECTION */
#my-work {
  width: 100%;
  margin-top: 56px;
}

.section {
  display: grid;
  align-items: center;
  justify-items: center;
  row-gap: 16px;
}

.first {
  grid-template-rows: 1fr 1fr;
}

.second {
  margin-top: 58px;
  grid-template-rows: repeat(6, 1fr);
}

h2 {
  font-size: 40px;
  text-align: center;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-0.5deg);
  }

  75% {
    transform: rotate(0.5deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.card {
  padding: 0 0;
  border: 2px solid lightgray;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.card img {
  border-radius: 15px;
  width: 100%;
  height: 300px;
}

.card h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 12px 12px;
  text-align: center;
}

.card ul li {
  padding: 8px 12px;
  background-color: #ebf0ee;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

/* ABOUT ME SECTION */
#about-me {
  margin-top: 100px;
}

.about-me-first {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 56px;
  align-items: center;
}

.about-me-first p {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

#top-right-img {
  position: absolute;
  right: -20px;
  top: -30px;
}

#bottom-left-img {
  position: absolute;
  left: -30px;
  bottom: 30px;
}

.about-me-second {
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 56px;
  row-gap: 32px;
}

.second-card {
  padding: 56px 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 2px solid lightgray;
  background-color: #ebf0ee;
  border-radius: 15px;
  align-items: center;
}

.second-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 999px;
  width: 100px;
  height: 100px;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  margin-bottom: 56px;
}

.second-card h3 {
  font-size: 24px;
  margin: 24px 0;
  color: #344563;
}

.second-card ul li {
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #36b37e;
}

/* ====== Contact form section ===================== */

.form-section {
  background-image: url("./assets/png/form-img.png");
  background-repeat: no-repeat;
  background-position: right 0 bottom 60px;
}

.invisible {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

form input {
  border: 1px solid #d0d9d4;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  color: #6b778c;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

textarea {
  border: 1px solid #d0d9d4;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  color: #6b778c;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

#form-btn {
  display: block;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #36b37f;
  border-radius: 5px;
  padding: 12px;
  margin: 20px auto;
}

#email-id {
  text-decoration: none;
  font-size: 20px;
  color: #42526e;
  display: block;
  margin: 20px auto;
  text-align: center;
}

#form-start {
  font-size: 40px;
  line-height: 52px;
  margin: 24px 0;
  font-weight: 700;
  color: #172b4d;
}

/* POPUPS */

.hidden {
  opacity: 0;
}

.no-display {
  display: none !important;
}

.menu-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 108px 0 0 28px;
}

.menu-mobile button {
  position: absolute;
  top: 62px;
  right: 38px;
}

.menu-mobile ul li {
  margin: 20px 0;
}

.popup-project-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px) brightness(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  padding-top: 240px;
  overflow-y: auto;
  z-index: 50;
}

.popup-project-content {
  position:relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 16px;
  padding-top: 40px;
}

.popup-image {
  max-width: 100%;
  border-radius: 10px;
  align-self: center;
}

.popup-list {
  display: flex;
}

.popup-list li {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #ebf0ee;
  margin: 16px 4px;
  font-size: 12px;
}

.popup-title {
  text-align: left;
  font-size: 32px;
  line-height: 44px;
  margin: 16px 0;
}

.popup-button-container {
  display: flex;
  width: 100%;
}

.popup-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  background-color: #36b37f;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
  margin: 12px 0px;
  width: 45%;
  margin-right: 5%;
}

.popup-toggle {
  
}

.floater {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

/* RESPONSIVE */

.only-desktop {
  display: none;
}

@media only screen and (min-device-width: 992px) {
  #landing {
    padding: 200px 0;
    background-image: url(./assets/png/Header-llustration-desktop.png);
    background-position: center top -50px;
    z-index: 0;
  }

  .menu-mobile {
    display: none;
  }

  #header {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
  }

  #header nav {
    width: 100%;
  }

  #main-support-text {
    width: 50%;
    margin: 58px auto;
  }

  .logo-cloud {
    width: 50%;
    margin: 54px auto;
  }

  .only-mobile {
    display: none;
  }

  .only-desktop {
    display: block;
  }

  .desktop-menu {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .desktop-menu li {
    padding: 6px 12px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .second {
    grid-template: "a b"1fr "a b"1fr "a b"1fr;
  }

  .about-me-first p {
    width: 50%;
    margin: 32px auto;
  }

  .about-me-second {
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: 1fr;
    column-gap: 2%;
  }

  .card h3 {
    margin: 54px auto;
    height: 48px;
  }

  html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #form-and-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
  }

  #form-and-title h2 {
    font-size: 30px;
    line-height: 50px;
    width: 35%;
  }

  #form-and-title form {
    width: 60%;
  }

  #form-btn {
    margin: 0;
  }

  #footer-icons {
    margin: 0;
    padding: 0 30%;
    width: 100%;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  #footer-icons ul {
    margin: 0 auto;
    margin-top: 24px;
  }

  #email-id {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
  }

  .card img {
    height: 300px;
  }

  .popup-project-content{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .popup-project-overlay {
    padding-top: 350px;
  }

  .popup-image {
    order: -1;
    margin-bottom: 32px;
  }
  
  .popup-title {
    order: 0;
    width: 50%;
  }
  
  .popup-button-container {
    order: 1;
    width: 50%;
  }
  .popup-button-container a{
    
  }

  .popup-list {
    order: 2;
  }

  .popup-text {
    order: 3;
    margin-bottom: 32px;
  }

}

@media only screen and (min-device-width: 1024px) {
  .logo-cloud {
    width: 30%;
  }

  .second {
    grid-template: "a b c"1fr "a b c"1fr;
  }
}